<ng-container>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>You are Doing Something Great!</ion-card-subtitle>
      <ion-card-title>Food Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Quantity of Food</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pick Up Time</ion-label>
        <ion-datetime></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pickup Address</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
  <ion-button expand="expand" >Submit</ion-button>
</ng-container>
